.container-image {
    columns: 5 250px !important;
    gap: 15px !important;
}
.image-contents {
    width: 100% !important;
    margin-bottom: 10px !important;
    transition: transform 0.3s ease-in-out;
}
.image-contents:hover {
    filter: grayscale(100%);
    transform: scale(1.03);
}


.section-heading ul li a {
    color:#999999; /* Warna teks normal */
    text-decoration: none; /* Hapus garis bawah default pada tautan */
    transition: color 0.3s; /* Efek transisi warna selama 0.3 detik */
}

.section-heading ul li a:hover {
    color:#db4437; /* Warna teks saat dihover */
}

/* Tambahan untuk efek hover pada ikon pencarian */
.input-group-text:hover {
    cursor: pointer;
    background-color: #f0f0f0; /* Warna latar belakang saat dihover */
}

.card {
    background-color: rgb(45, 45, 45) !important;
}
